.item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;

  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.status {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fe5155;
}

.isOnline {
  background-color: #4fae50;
}

.avatar {
  width: 50px;
  height: 50px;
  border: 1px solid #7d8c9b;
  border-radius: 5px;
}

.name {
  font-weight: 500;
  color: #323e4f;
}
